<body>

    <div class="blog">
        <div class="blog-show">
            <% if user_signed_in? %> 
                <div class="level-right">
                    <p class="level-item">
                        <%= link_to "Edit", edit_blog_path(@blog), class: "button" %>
                    </p>
                    <p class="level-item">
                        <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "button is-danger" %>
                    </p>
                    <p class="level-item">
                        <%= link_to "Back", blogs_path %>
                    </p>
                </div>
            <% end %>
            
            
    
            <div>
                <h1 id="blog-title"><%= @blog.title %></h1>
            </div>
            <div>
                <h5><%= @count %></h5>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group">
                        <% if @blog.id < @count %>
                            <%= link_to "Previous", blogs_path+"/#{@blog.id + 1}", class: "btn" %>
                        <% end %> 
                        <% if @blog.id > 1 %>
                            <%= link_to "Next", blogs_path+"/#{@blog.id - 1}", class: "btn" %>
                        <% end %> 
                        </div>
                  </div>
                </div>
            </div>
            
            
            
            
        </div>
    </div>

</body>




