<body>
<div class="my-gallery">My Gallery</div>
<div class="row gallery">
  <div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
    <%= image_tag("gallery/forbidden3.jpg", :alt => "Forbidden City", :class => "img-fluid") %>
      Blue and Red @ Beijing. 
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/sakura1.jpg", :alt => "Sakura", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/japan1.jpg", :alt => "Japan", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/japan2.jpg", :alt => "Japan", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/forbidden.jpg", :alt => "Forbidden City", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/sakura3.jpg", :alt => "Sakura", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/japan3.jpg", :alt => "Japan", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/sakura2.jpg", :alt => "Sakura", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/forbidden3.jpg", :alt => "Forbidden City", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/forbidden3.jpg", :alt => "Forbidden City", :class => "img-fluid") %>
        <img class="" src="gallery/beijing3.jpg" alt="Beijing">
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/beijing.jpg", :alt => "Beijing", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/beijing4.jpg", :alt => "Beijing", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/beijing2.jpg", :alt => "Beijing", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/beijing.jpg", :alt => "Beijing", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/flower2.jpg", :alt => "Flower", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/forbidden2.jpg", :alt => "Forbidden City", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/sky2.jpg", :alt => "Sky", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/yosemite1.jpg", :alt => "Yosemite", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/wuzhen.jpg", :alt => "Wuzhen", :class => "img-fluid") %>
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/singapura.jpg", :alt => "Singapura", :class => "img-fluid") %>
				At Haji Lane, Singapore. Amazed by all elements of Singapore in this photo--
				"The Singapura Club", the tropical rain and, of course, the warmth.
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/yosemite4.jpg", :alt => "Yosemite", :class => "img-fluid") %>
        At Half Dome, Yosemite.  
        The dusk casted fleeting pinkish light onto the mountain top, onto the cloud, dipping the world into pink palette.
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/yosemite3.jpg", :alt => "Yosemite", :class => "img-fluid") %>
        At Yosemite. "Wild" turn. 
    </div>
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/sea.jpg", :alt => "Sea", :class => "img-fluid") %>
    </div>
    
		<div class="col-lg-3 col-md-4 col-sm-6 gallery-box">
			<%= image_tag("gallery/yosemite2.jpg", :alt => "Yosemite", :class => "img-fluid") %>
    </div>
    
    
    
</div>
    
</body>